@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "HALLOWEEN";
    src: local('HALLOWEEN'), url("./assets/fonts/HALLOWEEN.ttf") format('ttf');
}

@font-face {
    font-family: "HalloweenMorning";
    src: local('HalloweenMorning'), url("./assets/fonts/HalloweenMorning.ttf") format('ttf');
}

.perspective-1000 {
    perspective: 1000px;
}

.backface-hidden {
    backface-visibility: hidden;
}